<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self';">
    <link rel="stylesheet" href="./../css/output.css">
    <title>Electron Js Baby</title>
</head>
<body>
    <input type="text" name="" class="h-screen w-screen text-center" id="prompt" placeholder="type /help for other shi" autofocus />
</body>
<script src="./../../renderer.js"></script>
</html>