<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self';">
    <link rel="stylesheet" href="./../css/output.css">
    <title>Setting - Swift Find</title>
</head>
<body>
    <div class="container mx-auto px-4">
        <h2>Setting</h2>
        <select name="llm" id="llm">
            <option value="chatgpt">Chat GPT</option>
            <option value="claude">Claude</option>
            <option value="perplexity">Perplexity</option>
            <option value="deepseek">Deepseek(not working right now)</option>
            <option value="t3chat">T3 chat</option>
        </select>
          
    </div>
</body>
<script src="./../../renderer.js"></script>
</html>