<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self';">
    <link rel="stylesheet" href="./../css/output.css">
    <link rel="stylesheet" href="./../css/main.css">

    <title>Setting - Swift Find</title>
</head>
<body>
    <div class="container mx-auto px-4">
        <h2 class="text-center margin-top">Setting</h2>
        <div class="container mx-auto text-center margin-top ">
            <div class="flex justify-around">
                <h3 id="current_llm">Select the default llm</h3>
                <select name="llm" id="llm">
                    <option>Select a LLM</option>
                </select>
            </div>
            <div class="container flex justify-around margin-top">
                <h3 id="current_theme">theme</h3>
                <select name="theme" id="theme">
                    <option>Select a theme</option>
                    <option value="Light">Light</option>
                    <option value="dark">dark</option>
                </select>
            </div>
        </div>
          
    </div>
</body>
<script src="./../../renderer.js"></script>
</html>